<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    <title>{{title}}</title>

    <script language="JavaScript">
        function send(form){
        }
    </script>

</head>
<body>
    <div id="container">
        <div id="logo">{{title}}</div>
        <div id="space"></div>
        <div id="form">
        <button name="vote" value="{{button1}}" onclick="increment('value1')" class="button button1">{{button1}}</button>
        <button name="vote" value="{{button2}}" onclick="increment('value2')" class="button button2">{{button2}}</button>
        <button name="vote" value="reset" onclick="reset()" class="button button3">Reset</button>
        <div id="space"></div>
        <div id="space"></div>
        <div id="results"> {{button1}} - <span id="value1" type="number">0</span> | {{button2}} - <span id="value2">0</span> </div> 
        </div>
    </div> 
    
    <!-- JavaScript counter -->
    <script>
        function increment(id) {
            var currentValue = parseInt(document.getElementById(id).textContent);
            var updatedValue = currentValue + 1;
            document.getElementById(id).innerHTML = updatedValue;
        }

        function reset() {
            document.getElementById("value1").innerHTML = 0;
            document.getElementById("value2").innerHTML = 0;
        }
    </script>
</body>
</html>